@model IEnumerable<Inventory.Models.Bowl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bias.BiasSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BowlSize.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight.BowlWeight)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.InLocker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                String img64Url = "";
                if (item.Picture != null)
                {
                    string img64 = Convert.ToBase64String(item.Picture);
                    img64Url = $"data:image/jpeg;base64,{img64}"; //imagetype can be e.g. gif, jpeg, png etc.
                }
            }
            <img src="@img64Url"  width="50"/>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bias.BiasSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BowlSize.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight.BowlWeight)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.InLocker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
